



/*
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}*/

.portfolio-item {
    margin-bottom: 30px;
}

.pagination {
    margin-bottom: 30px;
}

#map {
        width: 100%;
        height: 450px;
		position: absolute;
        
      }


#topmeetup {
        width: 100%;
        height: 430px;
		background-image:url('images/img/tech1.jpg');    
		background-repeat: no-repeat;		
		background-position: center;
		position: absolute;
 
      }
	  
	  
.title{
	
	text-align: left;
}
	  
.navbar{

	background: #0072bc;
}

.create{
	background-color: transparent;
	color:white;
	border-radius: 30px;
	border: 2px solid white;
	font-weight: bold;
	
	font-family: century gothic;
	font-size: 15px;
	cursor: pointer;
	box-shadow: none;
}

.create:hover{
	background-color: white;
	color: #0072bc;
	outline: none;
	border-color: white;
	box-shadow: none;
}

.create.launch{
	border: none;
}


.search{
	height: 170px;
	border-radius: 5px;
	background:  #0072bc;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	
}

.searchbar{
	height: 45px;
	border: transparent;
	min-width: 340px;
	

	
}


.find{
	height: 53px;
	border: 2px solid white;
	background-color: transparent;
	cursor: pointer;
	color: white;
	font-family: century gothic;
	
	
	
}

.find:hover{
	height: 53px;
	border: 2px solid white;
	background-color: white;
	cursor: pointer;
	color: #0072bc;
	
	
}



#textcolor ::-webkit-input-placeholder {
  color: #0072bc;
}
#textcolor :-moz-placeholder {
  color: #0072bc;
}
#textcolor ::-moz-placeholder {
  color: #0072bc;
}
#textcolor :-ms-input-placeholder {
  color: #0072bc;
}






.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: white;
    background-image: none;
    border: none;
	outline: none;
	box-shadow: none;
	
}








.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 0px;
	 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-img-top {
    width: 350px;
	height: 200px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	
}

.card-body {
   background-color: white;
   height: 230px;

}

.ptitle{
	color: #0072bc;
}


.card-title {
    color: #0072bc;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
	
	padding-bottom: 0px;
   
}


text.eventd{
	color: #0072bc; 
	font-size: 13px; 
	padding-left: 5px;
	font-family: 'Raleway', sans-serif;
}


.searchtitle{
	text-align: center; 
	color: white; 
	font-weight: 200;
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	 
}

.btn-primary{
	letter-spacing: 3px;
	height: 50px;
	min-width: 250px;
	background-color: transparent;
	border: none;
	color: white;
	border: transparent;
	outline: none;
	box-shadow: none;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	
}

.btn-primary:hover{
	letter-spacing: 3px;
	height: 50px;
	min-width: 250px;
	background-color: transparent;
	border: none;
	color: white;
	border-radius: 0px;

	
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow:none;
}

.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    background-color: transparent;
    background-image: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.dropdown-menu{
	left: 14px;
	min-width: 250px;
	border: none;
	border-radius: 3px;
	background-color: white;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	font-family: 'Raleway', sans-serif;
	font-weight: 300;


}


.drp{
	padding-bottom: 20px;
}

.con{
	background-color: transparent;
	border: 1px solid #0072bc;
	color: #0072bc; 
	font-size: 13px;
	border-radius: 20px;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
}

.con:hover{
	background-color: #0072bc;
	border: 1px solid #0072bc;
	color:white;
	
}

.tags{
	padding-top: 10px;
}



.viewmore{
	background-color: #0072bc;
	border: 1px solid #0072bc;
	color: white; 
	font-size: 14px;
	border-radius: 3px;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	width: 80px;
	margin-top: -3px;
}



.aleft{
	padding-top: 5px; 
	padding-bottom: 5px;
		padding-left: 12px;
}

.hover{
	padding-top: 5px; 
	padding-bottom: 5px; 
	
}

.navsearch{
	min-width: 200px;
	
}
.topfind{
	padding-left: 185px;
	
	
	
}

.topfind ::-webkit-input-placeholder {
  color: white;
}
.topfind :-moz-placeholder {
  color: white;
}
.topfind ::-moz-placeholder {
  color: white;
}
.topfind :-ms-input-placeholder {
  color: white;
}


#topsearch{
	width: 310px;
	background-color: transparent;
	border-left: 2px solid white;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color:white;
	border-radius: 0px;
	border-bottom: transparent;
	border-right:transparent;
	border-top: transparent;
	
	
	
	
}


.ft1{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color:white;
}

.ft4{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color:white;
	padding-left: 5px;
	
}


.foot{
	background-color:#0072bc;
	height: 265px;	
}

.ftfont{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 17px;
	color:white;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-top: 20px;
	
}

.ftfont2{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 17px;
	color:white;
	padding-left: 20px;	
	
}


.flab{
	
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: white;
}




.titletop{
	position: absolute;
	padding-top: 8%;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: white;
	font-size: 35px;
	padding-left: 80px;
	
}

.texttop{
	
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: white;
	font-size: 23px;
	padding-top: 10px;
	
}




.signup{
	background-color: white;
	color:#0072bc;
	border-radius: 30px;
	border: 2px solid white;
	font-weight: bold;
	height: 43px;
	width: 140px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
	
	box-shadow: none;
}

.signup:hover{
	background-color: transparent;
	color: white;
	outline: none;
	border: 2px solid white;
	box-shadow: none;
}

.signup.launch{
	border: none;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

/*MODAL*/








































		
	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
     
	 <div class="row">
	    <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 card1">
            <a href="#"><img class="card-img-top" src="images/events/ev1.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title title">
               <b>Cebu Property Expo</b>
			   <button class="pull-right viewmore" type="button" >FREE</button>
              </h4>
             
						
								<h4><img src="images/icon/calendar.svg" alt="" style="width: 6.5%;">
								<text class="eventd">October 6-8, 2017</text>
                                </h4>
								
								
								<h5 ><img src="images/icon/placeholder.svg" alt="" style="width: 6.5%;">
								<text class="eventd">Cebu Trade Hall, Cebu City</text>
                                </h5>
								
								 <h5 ><img src="images/icon/clock.svg" alt="" style="width: 6.5%;">
								<text class="eventd">4:30-8:00PM</text>
                                </h5>
								
								<h5 ><img src="images/icon/team.svg" alt="" style="width: 6.5%;">
								<text class="eventd">300 Join</text>
                                </h5>
								
								<div class="tags">
								<button type="button" class="con">#Conference</button>
								<button type="button" class="con">#Cebu</button>
								<button type="button" class="con">#Expo</button>
								<img class="pull-right" src="images/icon/bookmark.svg" alt="SAVE" style="width:8%;cursor: pointer;">
								</div>
			 
            </div>
          </div>
        </div>
		
		    <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 card1">
            <a href="#"><img class="card-img-top" src="images/events/ev2.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title title">
               <b>Drupal Camp Cebu</b>
			     <button class="pull-right viewmore" type="button" >₱400-900</button>
              </h4>
             
						
								<h4><img src="images/icon/calendar.svg" alt="" style="width: 6.5%;">
								<text class="eventd">SAT, AUG 26 AT 1:00PM</text>
                                </h4>
								
								
								<h5 ><img src="images/icon/placeholder.svg" alt="" style="width: 6.5%;">
								<text class="eventd">Cebu Trade Hall, Cebu City</text>
                                </h5>
								
								 <h5 ><img src="images/icon/clock.svg" alt="" style="width: 6.5%;">
								<text class="eventd">4:30-8:00PM</text>
                                </h5>
								
								<h5 ><img src="images/icon/team.svg" alt="" style="width: 6.5%;">
								<text class="eventd">300 Join</text>
                                </h5>
					
								<div class="tags">
								<button type="button" class="con">#Camp</button>
								<button type="button" class="con">#Cebu</button>
								<button type="button" class="con">#Tech</button>
								<button type="button" class="con">#Drupal</button>
								<img class="pull-right" src="images/icon/bookmark.svg" alt="SAVE" style="width:8%;cursor: pointer;">
								</div>
            </div>
          </div>
        </div>
		
		  <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 card1">
            <a href="#"><img class="card-img-top" src="images/events/ev6.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title title">
               <b>Backpack CEO Cebu</b>
			   <button class="pull-right viewmore" type="button" >FREE</button>
              </h4>
             
						
								<h4><img src="images/icon/calendar.svg" alt="" style="width: 6.5%;">
								<text class="eventd">SAT, AUG 26 AT 1:00PM</text>
                                </h4>
								
								
								<h5 ><img src="images/icon/placeholder.svg" alt="" style="width: 6.5%;">
								<text class="eventd">Cebu Trade Hall, Cebu City</text>
                                </h5>
								
								 <h5 ><img src="images/icon/clock.svg" alt="" style="width: 6.5%;">
								<text class="eventd">4:30-8:00PM</text>
                                </h5>
								
								<h5 ><img src="images/icon/team.svg" alt="" style="width: 6.5%;">
								<text class="eventd">300 Joined</text>
                                </h5>
								
								<div class="tags">
								<button type="button" class="con">#Trading</button>
								<button type="button" class="con">#Business</button>
								<button type="button" class="con">#Cebu</button>
								<img class="pull-right" src="images/icon/bookmark.svg" alt="SAVE" style="width:8%;cursor: pointer;">
								</div>
					
			 
            </div>
          </div>
        </div>
		
		</div>
	 
	 
	 
	 
	 
    </div>
    <div class="carousel-item">
     
	 <div class="row">
	 
	   <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 card1">
            <a href="#"><img class="card-img-top" src="images/events/ev2.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title title">
               <b>Drupal Camp Cebu</b>
			     <button class="pull-right viewmore" type="button" >₱400-900</button>
              </h4>
             
						
								<h4><img src="images/icon/calendar.svg" alt="" style="width: 6.5%;">
								<text class="eventd">SAT, AUG 26 AT 1:00PM</text>
                                </h4>
								
								
								<h5 ><img src="images/icon/placeholder.svg" alt="" style="width: 6.5%;">
								<text class="eventd">Cebu Trade Hall, Cebu City</text>
                                </h5>
								
								 <h5 ><img src="images/icon/clock.svg" alt="" style="width: 6.5%;">
								<text class="eventd">4:30-8:00PM</text>
                                </h5>
								
								<h5 ><img src="images/icon/team.svg" alt="" style="width: 6.5%;">
								<text class="eventd">300 Join</text>
                                </h5>
					
								<div class="tags">
								<button type="button" class="con">#Camp</button>
								<button type="button" class="con">#Cebu</button>
								<button type="button" class="con">#Tech</button>
								<button type="button" class="con">#Drupal</button>
								<img class="pull-right" src="images/icon/bookmark.svg" alt="SAVE" style="width:8%;cursor: pointer;">
								</div>
            </div>
          </div>
        </div>
		
		  <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="images/events/ev2.jpg" alt=""></a>
            <div class="card-body card1">
              <h4 class="card-title title">
               <b>Drupal Camp Cebu</b>
			     <button class="pull-right viewmore" type="button" >₱400-900</button>
              </h4>
             
						
								<h4><img src="images/icon/calendar.svg" alt="" style="width: 6.5%;">
								<text class="eventd">SAT, AUG 26 AT 1:00PM</text>
                                </h4>
								
								
								<h5 ><img src="images/icon/placeholder.svg" alt="" style="width: 6.5%;">
								<text class="eventd">Cebu Trade Hall, Cebu City</text>
                                </h5>
								
								 <h5 ><img src="images/icon/clock.svg" alt="" style="width: 6.5%;">
								<text class="eventd">4:30-8:00PM</text>
                                </h5>
								
								<h5 ><img src="images/icon/team.svg" alt="" style="width: 6.5%;">
								<text class="eventd">300 Join</text>
                                </h5>
					
								<div class="tags">
								<button type="button" class="con">#Camp</button>
								<button type="button" class="con">#Cebu</button>
								<button type="button" class="con">#Tech</button>
								<button type="button" class="con">#Drupal</button>
								<img class="pull-right" src="images/icon/bookmark.svg" alt="SAVE" style="width:8%;cursor: pointer;">
								</div>
            </div>
          </div>
        </div>
		
		  <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 card1">
            <a href="#"><img class="card-img-top" src="images/events/ev2.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title title">
               <b>Drupal Camp Cebu</b>
			     <button class="pull-right viewmore" type="button" >₱400-900</button>
              </h4>
             
						
								<h4><img src="images/icon/calendar.svg" alt="" style="width: 6.5%;">
								<text class="eventd">SAT, AUG 26 AT 1:00PM</text>
                                </h4>
								
								
								<h5 ><img src="images/icon/placeholder.svg" alt="" style="width: 6.5%;">
								<text class="eventd">Cebu Trade Hall, Cebu City</text>
                                </h5>
								
								 <h5 ><img src="images/icon/clock.svg" alt="" style="width: 6.5%;">
								<text class="eventd">4:30-8:00PM</text>
                                </h5>
								
								<h5 ><img src="images/icon/team.svg" alt="" style="width: 6.5%;">
								<text class="eventd">300 Join</text>
                                </h5>
					
								<div class="tags">
								<button type="button" class="con">#Camp</button>
								<button type="button" class="con">#Cebu</button>
								<button type="button" class="con">#Tech</button>
								<button type="button" class="con">#Drupal</button>
								<img class="pull-right" src="images/icon/bookmark.svg" alt="SAVE" style="width:8%;cursor: pointer;">
								</div>
            </div>
          </div>
        </div>
	 
	 </div>
	 
	 
    </div>
    <div class="carousel-item">
   
   <div class="row">
   
     <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 card1">
            <a href="#"><img class="card-img-top" src="images/events/ev6.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title title">
               <b>Backpack CEO Cebu</b>
			   <button class="pull-right viewmore" type="button" >FREE</button>
              </h4>
             
						
								<h4><img src="images/icon/calendar.svg" alt="" style="width: 6.5%;">
								<text class="eventd">SAT, AUG 26 AT 1:00PM</text>
                                </h4>
								
								
								<h5 ><img src="images/icon/placeholder.svg" alt="" style="width: 6.5%;">
								<text class="eventd">Cebu Trade Hall, Cebu City</text>
                                </h5>
								
								 <h5 ><img src="images/icon/clock.svg" alt="" style="width: 6.5%;">
								<text class="eventd">4:30-8:00PM</text>
                                </h5>
								
								<h5 ><img src="images/icon/team.svg" alt="" style="width: 6.5%;">
								<text class="eventd">300 Joined</text>
                                </h5>
								
								<div class="tags">
								<button type="button" class="con">#Trading</button>
								<button type="button" class="con">#Business</button>
								<button type="button" class="con">#Cebu</button>
								<img class="pull-right" src="images/icon/bookmark.svg" alt="SAVE" style="width:8%;cursor: pointer;">
								</div>
					
			 
            </div>
          </div>
        </div>
		
		  <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 card1">
            <a href="#"><img class="card-img-top" src="images/events/ev6.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title title">
               <b>Backpack CEO Cebu</b>
			   <button class="pull-right viewmore" type="button" >FREE</button>
              </h4>
             
						
								<h4><img src="images/icon/calendar.svg" alt="" style="width: 6.5%;">
								<text class="eventd">SAT, AUG 26 AT 1:00PM</text>
                                </h4>
								
								
								<h5 ><img src="images/icon/placeholder.svg" alt="" style="width: 6.5%;">
								<text class="eventd">Cebu Trade Hall, Cebu City</text>
                                </h5>
								
								 <h5 ><img src="images/icon/clock.svg" alt="" style="width: 6.5%;">
								<text class="eventd">4:30-8:00PM</text>
                                </h5>
								
								<h5 ><img src="images/icon/team.svg" alt="" style="width: 6.5%;">
								<text class="eventd">300 Joined</text>
                                </h5>
								
								<div class="tags">
								<button type="button" class="con">#Trading</button>
								<button type="button" class="con">#Business</button>
								<button type="button" class="con">#Cebu</button>
								<img class="pull-right" src="images/icon/bookmark.svg" alt="SAVE" style="width:8%;cursor: pointer;">
								</div>
					
			 
            </div>
          </div>
        </div>
		
		  <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 card1">
            <a href="#"><img class="card-img-top" src="images/events/ev6.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title title">
               <b>Backpack CEO Cebu</b>
			   <button class="pull-right viewmore" type="button" >FREE</button>
              </h4>
             
						
								<h4><img src="images/icon/calendar.svg" alt="" style="width: 6.5%;">
								<text class="eventd">SAT, AUG 26 AT 1:00PM</text>
                                </h4>
								
								
								<h5 ><img src="images/icon/placeholder.svg" alt="" style="width: 6.5%;">
								<text class="eventd">Cebu Trade Hall, Cebu City</text>
                                </h5>
								
								 <h5 ><img src="images/icon/clock.svg" alt="" style="width: 6.5%;">
								<text class="eventd">4:30-8:00PM</text>
                                </h5>
								
								<h5 ><img src="images/icon/team.svg" alt="" style="width: 6.5%;">
								<text class="eventd">300 Joined</text>
                                </h5>
								
								<div class="tags">
								<button type="button" class="con">#Trading</button>
								<button type="button" class="con">#Business</button>
								<button type="button" class="con">#Cebu</button>
								<img class="pull-right" src="images/icon/bookmark.svg" alt="SAVE" style="width:8%;cursor: pointer;">
								</div>
					
			 
            </div>
          </div>
        </div>
   
   </div>
   
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




			
		</div>
    </div>
   
	
	
	
	
	

